

<div class="container">
  <div class="order_card" *ngFor="let cartItem of cartItems">
  <div class="row">
    <div class="col-md-6">
      <img src="{{cartItem.imageUrl}}" class="card-img-top img-responsive">
    </div>
    <div class="col-md-6">
      <div class="right_section_text">
      <p>Название: <span>{{cartItem.name}}</span></p>
      <p>Количество: <span>{{cartItem.quantity}}</span></p>
        <p>Общая стоимость: <span>{{cartItem.quantity * cartItem.price}}</span></p>
      </div>
    </div>
  </div>
  </div>
  <div class="offset-md-6 col-md-6 total_info">
    <p>Общее количество: {{totalQuantity}}</p>
    <p>Итоговая цена: {{totalPrice}}</p>
    <a routerLink="/checkout">Checkout</a>
  </div>
</div>
