<div class="header">
  <div class="container">
    <div class="header_top">
      <div><a href="/" class="logo">Electronic<span>Shop</span></a></div>
      <div><app-search></app-search></div>
      <div class="cart_status"><app-cart-status></app-cart-status></div>
      <div><a href="#"><i class="fas fa-cart-arrow-down" id="basket"></i></a></div>
    </div>
  </div>
  <app-product-category-menu></app-product-category-menu>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <div class="footer_custom">
    <app-product-category-menu></app-product-category-menu>
    </div>
  </div>
</footer>
